{% extends "translate/base.html" %}
{% block content %}
{% load static %}
    <section  style="margin-top:50px" >
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="{% static 'translate/images/editorial_commision-bro.png' %}" width="100%">
                    <p>Confirm the translated strings file</p>
                </div>
                <div class="col-8">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="string_text_area">The generated string file</label>
                            <textarea class="form-control" id="string_text_area" name="string_text" rows="25"> {{ translated_content }}</textarea>
                            <button class="btn btn-primary"  type="submit" style="margin-top:10px;background-color:#263238;color:#92E3A9">Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
