{% extends "translate/base.html" %}
{% block content %}
{% load static %}

    <section style="margin-top:50px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6" style="height:300px" >
                    <img src="{% static 'translate/images/Hand_coding-bro.png' %}" height="100%">
                </div>
                <div class="col-sm-12 col-md-6" style="height:300px;align-items: center;justify-content: center;flex-wrap: wrap;flex-direction: column;display: flex; " >
                    <p style="font-size:20px;text-align: center;vertical-align: middle;"> Hi, welcome
                        <br>
                        We translate your string resource file to more than one language based on what you select.
                       <br>
                        Let’s get started!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top:50px">

        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <p style="font-size:20px">Upload the xml file</p>
                    </div>
                    <div class="col" >
                        <input class="form-control" accept="text/xml" type="file" id="string_file" style="background-color:#F5F5F5;color:#263238; border:1px solid #263238;" required name="string_file">

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size:20px">Select the source language</p>
                    </div>
                    <div class="col" >
                        <select class="form-select form-select-md" aria-label=".form-select-sm" style="background-color:#F5F5F5;color:#263238; border:1px solid #263238;" required name="source_language">
                          <option selected>Open to select the source language</option>
                            {% for language in languages %}
                                 <option value="{{ language.code }}">{{ language.name}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size:20px">Select the destination language</p>
                    </div>
                    <div class="col" >
                        <select class="form-select form-select-md" aria-label=".form-select-sm" style="background-color:#F5F5F5;color:#263238; border:1px solid #263238;" required name="destination_language">
                          <option selected>Open to select the destination language</option>
                            {% for language in languages %}
                                 <option value="{{ language.code }}">{{ language.name}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-primary" type="submit" style="margin-top:10px;background-color:#263238;color:#92E3A9">Done</button>
                    </div>
                </div>

            </form>

        </div>

    </section>
{% endblock content %}
